<link rel="stylesheet" href="~/css/_header.css" asp-append-version="true" />


<!-- Footer -->
<footer class="footer mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <p class="text-muted mb-0">
                    © MEBPG Desenvolvido por SEPLAN - Secretaria de Planejamento - 2025
                    <a href="#" class="text-info ms-2" data-bs-toggle="modal" data-bs-target="#equipeModal" title="Equipe de Desenvolvimento">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Modal da Equipe de Desenvolvimento -->
<div class="modal fade" id="equipeModal" tabindex="-1" aria-labelledby="equipeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="equipeModalLabel">Equipe de Desenvolvimento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mt-3">
                    <div class="col-12">
                        <ul class="list-unstyled">
                            <li>Juliana Luna de Oliveira</li>
                            <li>Tatiana Nunes da Silva Santana</li>
                        </ul>
                    </div>
                </div>
         
            </div>
        </div>
    </div>
</div>