
/* ====== HEADER ====== */
header {
    position: relative; /* removido o fixo */
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* ====== BARRA DE ACESSIBILIDADE ====== */
.barra-acessibilidade {
    font-size: 0.9rem;
    background-color: #018DCF !important;
    padding: 5px 10px;
}

    .barra-acessibilidade button {
        background: none;
        border: none;
        cursor: pointer;
        text-decoration: none;
        color: #007bff;
        padding: 5px;
    }

        .barra-acessibilidade button:hover {
            border: 1px solid #fff;
            padding: 3px;

        }

/* ====== HEADER PRINCIPAL ====== */
.header-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
}

    .header-principal img {
        height: 80px;
    }

/* Responsividade */
@media (max-width: 768px) {
    .header-principal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;
    }

}