/* Estilos Customizados para o Sidebar Colapsável */
.sidebar-expanded {
    width: 256px; /* Largura expandida (w-64) */
    transition: width 0.3s ease;
}

.sidebar-collapsed {
    width: 64px; /* Largura colapsada (w-16) */
    transition: width 0.3s ease;
    overflow: hidden; /* Esconde texto que ultrapassa o limite */
}

.main-content-shift {
    margin-left: 256px;
    transition: margin-left 0.3s ease;
}

.main-content-no-shift {
    margin-left: 64px;
    transition: margin-left 0.3s ease;
}
/* Transição para texto e título */
.sidebar-menu-text, #sidebar-title {
    transition: opacity 0.3s ease;
}

.sidebar-toggle-btn {
    transition: transform 0.3s ease, background-color 0.3s ease;
}
